$this: '#{$namespace}c-input';

@mixin perseo-c-input {
   @include perseo-c-component;

   background: $perseo-c-input---background;
   border: $perseo-c-input---border;
   border-radius: $perseo-c-input---border-radius;
   outline: none;
   padding: $perseo-c-input---padding;

   &::placeholder {
      color: $perseo-c-input__placeholder---color;
      font-style: italic;
   }

   &[type="number"] {
      width: $perseo-c-input--number---width;
   }
}

.#{$this} {
   @include perseo-c-input;
}
