$perseo-c-input---background: #fff !default;
$perseo-c-input---border: 1px solid #999 !default;
$perseo-c-input---border-radius: 5px !default;
$perseo-c-input---padding: 5px 10px !default;

$perseo-c-input__placeholder---color: #ccc !default;

$perseo-c-input--number---width: 75px !default;
