$this: '#{$namespace}c-header';

@mixin perseo-c-header {
   @include perseo-c-component;

   align-items: baseline;
   display: flex;
   flex-direction: row;
   flex-flow: row wrap;
   padding: $perseo-c-header---padding;

   .#{$namespace}c-logo {
      margin-right: 3vw;
   }
}

.#{$this} {
   @include perseo-c-header;
}
