$this: '#{$namespace}c-container';

@mixin perseo-c-container {
   @include perseo-c-component;

   background: $perseo-c-container---background;
   font-family: 'Open Sans';
   font-size: 1em;
   margin: 0 auto;
   max-width: $perseo-c-container---max-width;
   zoom: 1;
}

.#{$this} {
   @include perseo-c-container;
}
