$this: '#{$namespace}c-separator';

@mixin perseo-c-separator {
   @include perseo-c-component;

   background: $perseo-c-separtor---color;
   border: 0;
   height: $perseo-c-separtor---height;
   margin: $perseo-c-separtor---margin;
   width: $perseo-c-separtor---width;
}

.#{$this} {
   @include perseo-c-separator;
}
