$this: '#{$namespace}c-control';

@mixin perseo-c-control {
   @include perseo-c-component;

   margin: 10px 0;

   .#{$namespace}c-label {
      display: inline-block;
      text-align: right;
      width: 30%;
   }

   .#{$namespace}c-input {
      max-width: 69%;
   }
}

.#{$this} {
   @include perseo-c-control;
}
