$this: '#{$namespace}c-message';

@mixin perseo-c-message {
   @include perseo-c-component;

   padding: $perseo-c-message---padding;

   &:before {
      font-family: 'FontAwesome';
      margin-right: .5em;
   }

   &--success {
      background: $perseo-c-message--success---background;
      border: 1px solid $perseo-c-message--success__icon---color;
      color: $perseo-c-message--success---color;

      &:before {
         color: $perseo-c-message--success__icon---color;
         content: '\f058';
      }
   }

   &--error {
      background: $perseo-c-message--error---background;
      border: 1px solid $perseo-c-message--error__icon---color;
      color: $perseo-c-message--error---color;

      &:before {
         color: $perseo-c-message--error__icon---color;
         content: '\f057';
      }
   }
}

.#{$this} {
   @include perseo-c-message;
}
