$perseo-c-message---padding: 15px !default;

$perseo-c-message--success---background: #dff4d5 !default;
$perseo-c-message--success---color: #333 !default;
$perseo-c-message--success__icon---color: #6bbc47 !default;

$perseo-c-message--error---background: #f5b5b5 !default;
$perseo-c-message--error---color: #333 !default;
$perseo-c-message--error__icon---color: #f00 !default;
