$this: '#{$namespace}c-main-menu';

@mixin perseo-c-main-menu {
   @include perseo-c-component;

   &__item {
      color: $perseo-c-main-menu__item---color;
      display: inline-block;
      padding: 0 1vw;
      text-decoration: none;
      transition: color .5s;

      &:not([disabled]) {
         cursor: pointer;
      }

      &:not([disabled]):hover {
         color: $perseo-c-main-menu__item--hover---color;
      }

      &--active {
         &:after {
            background: url('../images/arrow.png') no-repeat center;
            content: ' ';
            display: block;
            height: 12px;
            margin-top: 10px;
            overflow: visible;
         }
      }
   }
}

.#{$this} {
   @include perseo-c-main-menu;
}
