$this: '#{$namespace}c-logo';

@mixin perseo-c-logo {
   @include perseo-c-component;

   padding: $perseo-c-logo---padding;

   &__image {
      margin: $perseo-c-logo__image---margin;
   }
}

.#{$this} {
   @include perseo-c-logo;
}
