$this: '#{$namespace}c-banner';

@mixin perseo-c-banner {
   @include perseo-c-component;

   background: $perseo-c-banner---background;
   background-size: cover;
   color: $perseo-c-banner---color;
   font-size: $perseo-c-banner---font-size;
   height: $perseo-c-banner---height;
   padding: $perseo-c-banner---padding;
   text-align: center;

   h2 {
      font-size: $perseo-c-banner---font-size;
   }
}

.#{$this} {
   @include perseo-c-banner;
}
