$perseo-c-banner---background: url('../images/banner.png') no-repeat !default;
$perseo-c-banner---color: #fff !default;
$perseo-c-banner---font-size: 1.5rem !default;
$perseo-c-banner---height: 160px !default;
$perseo-c-banner---padding: 10px 0 0 !default;
