$this: '#{$namespace}c-button';

@mixin perseo-c-button {
   @include perseo-c-component;

   color: $perseo-c-button---color;
   cursor: pointer;
   background: $perseo-c-button---background;
   border: $perseo-c-button---border;
   border-radius: $perseo-c-button---border-radius;
   outline: none;
   padding: $perseo-c-button---padding;

   &--primary {
      background: $perseo-c-button--primary---background;
      color: $perseo-c-button--primary---color;
   }
}

.#{$this} {
   @include perseo-c-button;
}
