$perseo-c-button---background: #fff !default;
$perseo-c-button---border: 1px solid #ccc !default;
$perseo-c-button---border-radius: 5px !default;
$perseo-c-button---color: #000 !default;
$perseo-c-button---padding: 10px 25px !default;

$perseo-c-button--primary---background: #009bdb !default;
$perseo-c-button--primary---color: #fff !default;
