$this: '#{$namespace}c-number';

@mixin perseo-c-number {
   @include perseo-c-component;

   background: $perseo-c-number---background;
   color: $perseo-c-number---color;
   margin: $perseo-c-number---margin;
   padding: $perseo-c-number---padding;

   &--circle {
      border-radius: 100%;
   }

   &--bordered {
      border: $perseo-c-number---border;
   }
}

.#{$this} {
   @include perseo-c-number;
}
