$perseo-c-number---background:  #fff !default;
$perseo-c-number---color:  #999 !default;

$perseo-c-number---border: 1px solid $perseo-c-number---color !default;
$perseo-c-number---margin: 0 .5em 0 0 !default;
$perseo-c-number---padding: 5px 10px !default;
