$this: '#{$namespace}c-footer';

@mixin perseo-c-footer {
   @include perseo-c-component;

   align-items: baseline;
   border-top: $perseo-c-footer---border;
   display: flex;
   flex-direction: row;
   flex-flow: row wrap;
   margin: $perseo-c-footer---margin;
   padding: $perseo-c-footer---padding;
}

.#{$this} {
   @include perseo-c-footer;
}
