$this: '#{$namespace}c-panel';

@mixin perseo-c-panel {
   @include perseo-c-component;

   background: $perseo-c-panel---background;
   margin: $perseo-c-panel---margin;
   padding: $perseo-c-panel---padding;
   text-align: left;
   width: 100%;

   &--no-padding {
      padding: 0;
   }

   &--short {
      width: 33%;
   }

   &--medium {
      width: 60%;
   }

   &--centered {
      margin: 25px auto;
   }

   &--inline {
      display: inline-block;
   }

   &--center-content {
      & > * {
         margin: 0 auto;
      }
   }

   &--info {
      background: $perseo-c-panel--info---background;
      color: $perseo-c-panel--info---color;
   }

   &--form {
      background: $perseo-c-panel--form---background;
      color: $perseo-c-panel--form---color;

      .#{$namespace}c-button {
         margin: $perseo-c-panel--form__button---margin;
      }
   }

   &--main {
      margin: 0;
      padding: 20px 0 0;
   }
}

.#{$this} {
   @include perseo-c-panel;
}
