$perseo-c-panel---background: #fff !default;
$perseo-c-panel---margin: 25px 0 !default;
$perseo-c-panel---padding: 25px !default;

$perseo-c-panel--info---background: #b5e2f5 !default;
$perseo-c-panel--info---color: #666 !default;

$perseo-c-panel--form---background: #efefef !default;
$perseo-c-panel--form---color: #333 !default;
$perseo-c-panel--form__button---margin: 0 0 0 30.5% !default;
