$this: '#{$namespace}c-usecase-selector';

@mixin perseo-c-usecase-selector {
   @include perseo-c-component;

   margin: $perseo-c-usecase-selector---margin;
   text-align: center;

   &__options {
      margin: $perseo-c-usecase-selector__options---margin;
   }
}

.#{$this} {
   @include perseo-c-usecase-selector;
}
