$this: '#{$namespace}c-legend';

@mixin perseo-c-legend {
   @include perseo-c-component;

   padding: $perseo-c-legend---padding;

   &__item {
      display: block;
      margin: $perseo-c-legend__item---margin;
      white-space: nowrap;
   }

   &__title {
      border-bottom: 1px solid;
      display: block;
      font-size: 1.2rem;
      font-weight: normal;
      padding: 0 0 .5em 0;
      margin: 0 0 1em 0;
   }
}

.#{$this} {
   @include perseo-c-legend;
}
