<aside role="banner" class="perseo-c-banner">
   <h2>Evaluates the performance of algorithms</h2>
</aside>

<div class="perseo-c-usecase-selector">
   <label for="chartType">Select one of these use cases to get the results of the algorithms in each case.</label>
   <div class="perseo-c-usecase-selector__options">
      <input name="chartType" type="button" value="Regression" data-chart="regressionChart" class="perseo-c-button">
      <input name="chartType" type="button" value="Classification" data-chart="classificationChart" class="perseo-c-button">
   </div>

   <p class="perseo-c-panel perseo-c-panel--info perseo-c-panel--medium perseo-c-panel--centered">
      In these charts you can see the different results the algorithms offer with the training data. Thus, we can evaluate how good or useful they are and make comparisons between them.
   </p>
</div>

<hr class="perseo-c-separator">

<div id="meanSquaredError" data-chart-reference="regressionChart" class="perseo-c-panel perseo-c-panel--short perseo-c-panel--inline perseo-c-panel--center-content perseo-c-panel--no-padding"></div>
<div id="meanAbsoluteError" data-chart-reference="regressionChart" class="perseo-c-panel perseo-c-panel--short perseo-c-panel--inline perseo-c-panel--center-content perseo-c-panel--no-padding"></div>
<div id="explainedVariance" data-chart-reference="regressionChart" class="perseo-c-panel perseo-c-panel--short perseo-c-panel--inline perseo-c-panel--center-content perseo-c-panel--no-padding"></div>
<div id="r2" data-chart-reference="regressionChart" class="perseo-c-panel perseo-c-panel--short perseo-c-panel--inline perseo-c-panel--center-content perseo-c-panel--no-padding"></div>

<div id="weightedTruePositiveRate" data-chart-reference="classificationChart" class="perseo-c-panel perseo-c-panel--short perseo-c-panel--inline perseo-c-panel--center-content perseo-c-panel--no-padding"></div>
<div id="weightedFalsePositiveRate" data-chart-reference="classificationChart" class="perseo-c-panel perseo-c-panel--short perseo-c-panel--inline perseo-c-panel--center-content perseo-c-panel--no-padding"></div>
<div id="precision" data-chart-reference="classificationChart" class="perseo-c-panel perseo-c-panel--short perseo-c-panel--inline perseo-c-panel--center-content perseo-c-panel--no-padding"></div>
