<aside role="banner" class="perseo-c-banner">
   <h2>Transform your data in Perseo data training</h2>
</aside>

<p class="perseo-c-panel perseo-c-panel--info perseo-c-panel--medium perseo-c-panel--centered">This process transforms your data in Perseo data training. Choose the number of samples to create the structure to train and predict, and upload the csv file.</p>

<hr class="perseo-c-separator">

<form class="perseo-c-panel perseo-c-panel--form perseo-c-panel--medium perseo-c-panel--centered">
   <div class="perseo-c-control">
      <label class="perseo-c-label" for="numberOfSamples">Number of samples:</label>
      <input id="numberOfSamples" type="number" name="numberOfSamples" class="perseo-c-input">
   </div>
   
   <div class="perseo-c-control">
      <label class="perseo-c-label" for="algorithmType">Type:</label>
      <select id="algorithmType" name="algorithmType" class="perseo-c-input">
         <option value="regression">Regression</option>
         <option value="Classification">Classification</option>
      </select>
   </div>

   <div class="perseo-c-control">
      <label class="perseo-c-label" for="file">File path:</label>
      <input class="perseo-c-input" id="file" type="file" name="file">
   </div>

   <input id="Execute" type="button" value="Execute" class="perseo-c-button perseo-c-button--primary">
</form>

<div id="message" class="perseo-c-message  perseo-c-panel--medium perseo-c-panel--centered">Process transform batch completed.</div>
   