<h1 class="perseo-c-logo">
   <a href="/index.html"  title="come back home">
      <img class="perseo-c-logo__image" src="images/logo.png" alt="Perseo logo">
   </a>
</h1>

<nav class="perseo-c-main-menu">
   <a class="perseo-c-main-menu__item" data-view="realtime">Real Time Prediction</a>
   <a class="perseo-c-main-menu__item" data-view="algorithm">Algorithm Results</a>
   <a class="perseo-c-main-menu__item" data-view="batch">Batch Loading</a>
   <a class="perseo-c-main-menu__item" data-view="training">Training</a>
</nav>
