<aside role="banner" class="perseo-c-banner">
   <h2>Compare the prediction with the real value and the trend of future values</h2>
</aside>

<div class="perseo-c-usecase-selector">
   <label for="chartType">Select one of these use cases to get the prediction compared with the real value.</label>
   <div class="perseo-c-usecase-selector__options">
      <input name="chartType" type="button" value="Regression" data-chart="regressionChart" class="perseo-c-button">
      <input name="chartType" type="button" value="Classification" data-chart="classificationChart" class="perseo-c-button">
   </div>

   <p class="perseo-c-panel perseo-c-panel--info perseo-c-panel--medium perseo-c-panel--centered">
      In this regression use case, we are predicting the active power used by a house in the near future. You can see the comparison between prediction and reality.
      In the classification use case, we are predicting the behavior of a user. You can see the comparison between prediction and reality of the different behaviors of a user.
   </p>
</div>

<hr class="perseo-c-separator">

<div id="regressionChart" class="perseo-c-panel perseo-c-panel--centered perseo-c-panel--center-content perseo-c-panel--no-padding"></div>
<div id="classificationChart" class="perseo-c-panel perseo-c-panel--centered perseo-c-panel--center-content perseo-c-panel--no-padding"></div>

<aside class="perseo-c-legend perseo-c-panel perseo-c-panel--info perseo-c-panel--medium perseo-c-panel--centered" data-chart-reference="classificationChart">
   <h1 class="perseo-c-legend__title">Value Meaning</h1>
   <div class="perseo-c-legend__item"><span class="perseo-c-number perseo-c-number--circle">1</span>Working at Computer</div>
   <div class="perseo-c-legend__item"><span class="perseo-c-number perseo-c-number--circle">2</span>Standing Up, Walking and Going up\down stairs</div>
   <div class="perseo-c-legend__item"><span class="perseo-c-number perseo-c-number--circle">3</span>Standing</div>
   <div class="perseo-c-legend__item"><span class="perseo-c-number perseo-c-number--circle">4</span>Walking</div>
   <div class="perseo-c-legend__item"><span class="perseo-c-number perseo-c-number--circle">5</span>Going Up\Down Stairs</div>
   <div class="perseo-c-legend__item"><span class="perseo-c-number perseo-c-number--circle">6</span>Walking and Talking with Someone</div>
   <div class="perseo-c-legend__item"><span class="perseo-c-number perseo-c-number--circle">7</span>Talking while Standing</div>
</aside>
