<aside role="banner" class="perseo-c-banner">
   <h2>Train the algorithm to achieve the best results</h2>
</aside>

<p class="perseo-c-panel perseo-c-panel--info perseo-c-panel--medium perseo-c-panel--centered">This process trains the prediction models in order to make the predictions in real time. Choose the algorithm to train.</p>

<hr class="perseo-c-separator">

<form class="perseo-c-panel perseo-c-panel--form perseo-c-panel--medium perseo-c-panel--centered">
   <div class="perseo-c-control">
      <label class="perseo-c-label" for="algorithmType">Type:</label>
      <select id="algorithmType" name="algorithmType" class="perseo-c-input">
         <option value="regression">Regression</option>
         <option value="classification">Classification</option>
      </select>
   </div>
   
   <div id="algorithmTypeRegression" class="perseo-c-control">
      <label class="perseo-c-label" for="algorithmReg">Algorithm:</label>
      <select id="algorithmReg" name="algorithmReg" class="perseo-c-input">
         <option value="linearRegression-sgd">linearRegression-sgd</option>
         <option value="linearRegression-ols">linearRegression-ols</option>
         <option value="ridge">ridge</option>
         <option value="lasso">lasso</option>
         <option value="rbf">rbf</option>
      </select>
   </div>
   
   <div id="algorithmTypeClassification" class="perseo-c-control">
      <label class="perseo-c-label" for="algorithmReg">Algorithm:</label>
      <select id="algorithmClass" name="algorithmClass" class="perseo-c-input">
         <option value="decisiontree">DecisionTree</option>
         <option value="logisticmulticlass">LogisticMulticlass</option>
         <option value="naivebayes">NaiveBayes</option>
         <option value="randomforest">RandomForest</option>
      </select>
   </div>
   
   <input type="button" value="Execute" class="perseo-c-button perseo-c-button--primary">
</form>

<div id="message" class="perseo-c-message perseo-c-panel--medium perseo-c-panel--centered">Process training completed</div>
